<div class="main-menu">
  <div
    class="container mx-auto h-full flex flex-row relative justify-center align-middle"
  >
    <div class="flex flex-col justify-center">
      <div
        class="icon icon-drop-center icon-burger flex flex-row justify-center align-middle"
      >
        <img src="./assets/Menu.svg" alt="burger-menu-icon" />
        <nav>
          <ul class="menu">
            <li>
              <a [routerLink]="">Menu</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="mr-auto sm:flex flex-col justify-center hidden">
      <a class="cursor-pointer" [routerLink]=""
        ><img src="./assets/logo.svg" alt="company-logo"
      /></a>
    </div>

    <div
      class="sm:absolute sm:top-1/2 sm:left-1/2 sm:-translate-x-1/2 sm:-translate-y-1/2 menu-middle-text flex flex-col justify-center"
    >
      Crownhill
    </div>

    <div class="ml-auto flex flex-col justify-center">
      <div
        class="icon icon-drop-center flex flex-row justify-center align-middle"
      >
        <img
          src="./assets/notifications_black_24dp.svg"
          alt="burger-menu-icon"
        />
        <nav>
          <ul class="menu">
            <li>
              <a [routerLink]="">Notifications</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="flex flex-col justify-center sm:hidden">
      <div class="icon icon-drop-l flex flex-row justify-center align-middle">
        <img src="./assets/more_vert_black_24dp.svg" alt="more-menu-icon" />
        <nav>
          <ul class="menu">
            <li>
              <a [routerLink]="">System Updates</a>
            </li>
            <li>
              <a [routerLink]="">Profile</a>
            </li>
            <li>
              <a [routerLink]="">Help</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="sm:flex flex-col justify-center hidden">
      <div
        class="icon icon-drop-center flex flex-row justify-center align-middle"
      >
        <img src="./assets/System%20Updates.svg" alt="burger-menu-icon" />
        <nav>
          <ul class="menu">
            <li>
              <a [routerLink]="">System Updates</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="sm:flex flex-col justify-center hidden">
      <div
        class="icon icon-drop-center flex flex-row justify-center align-middle"
      >
        <img src="./assets/Profile.svg" alt="burger-menu-icon" />
        <nav>
          <ul class="menu">
            <li>
              <a [routerLink]="">Profile</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="sm:flex flex-col justify-center hidden">
      <div
        class="icon icon-drop-center flex flex-row justify-center align-middle"
      >
        <img src="./assets/Help.svg" alt="burger-menu-icon" />
        <nav>
          <ul class="menu">
            <li>
              <a [routerLink]="">Help</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
